{
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 2,
    "singleQuote": true,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "arrowParens": "avoid"
}
